body {
	padding-top: 50px;
	padding-bottom: 20px;
}

body.admin-bar {
	.navbar-fixed-top {
		top: 28px;
	}
}

@media(min-width: @screen-md) {
	.two-col {
		-moz-column-count: 2;
		-moz-column-gap: @grid-gutter-width;
		-webkit-column-count: 2;
		-webkit-column-gap: @grid-gutter-width;
	}
}

.video-container { 
	position: relative;
	padding-bottom: 56.25%; 
	padding-top: 30px; 
	height: 0; 
	overflow: hidden;
 
	iframe {
		position: absolute; 
		top: 0; 
		left: 0; 
		width: 100%; 
		height: 100%;		
	}
}

#jumbotron-cinematic .item img {
	margin: 0 auto;
}