.form-control {
	padding: 8px 12px 4px;
	border-radius: 0;
	.box-shadow(0);

	&:focus {
		border-color: @brand-champagne;
		box-shadow: 0 0 0;
	}
}

// selects
.select-styled {
	display:inline-block;
	position: relative;
	width: 100%;
	margin-bottom: -6px;
	background-clip: padding-box;

	select {
		float: left;
		position: relative;
		z-index: 2;
		display: block;
		-moz-appearance: window;
		-moz-padding-end: 19px;
		background: transparent;
		background-color: transparent;
		-webkit-appearance: none;
		appearance: none;
	}

	&:after {
		position:absolute;
		font-family: 'FontAwesome';
		top: 6px;
		right: 16px;
		color: @brand-champagne;
		content: "\f0d7";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	&.champagn-border select{
		border: 1px solid @brand-champagne;
	}
}

//Advanced Selects
.chzn-container-single .chzn-single,
.chzn-container-active .chzn-single-with-drop {
	background-image: none !important;
	border: 1px solid #ccc !important;
	border-radius: 0 !important;
	box-shadow: none !important;

}

.woocommerce-checkout .form-row .chzn-container-single .chzn-single {
	height: 36px !important;
	margin-bottom: -7px !important;
	line-height: 2.4 !important;
}

.chzn-container {
	.gill-sans-light !important;
	font-size: 16px !important;
}

.woocommerce-checkout .form-row .chzn-container-single .chzn-single div b {
	position: relative;
	top: 3px !important;
}

.chzn-container-active {
	.chzn-single-with-drop {
		background-image: none;
	}
}

// Checkboxes
input[type="checkbox"],
input[type="radio"] {
	display: none !important;
}

input[type='checkbox'] + label:before,
input[type='radio'] + label:before {
	font-family: 'icomoon';
	padding-right: 10px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
	position: relative;
	top: 3px;
	content: "\e600"; /* checkbox unchecked */
}

input[type="radio"] + label:before {
	top: 1px;
}

input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before, {
	content: "\e601"; /* checkbox checked */
}

.radio,
.checkbox {
	padding-left: 0;
}

// Files uploads
#uploadFile {
	border: 0;
	width: 100%;
}
.fileUpload {
	position: relative;
	overflow: hidden;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

.view-swatch {
	margin-top: -3px;
}

/*..................................the input groups */
// No border radius damnit!
.input-group-sm > .form-control,
.input-group-lg > .form-control {
	border-radius: 0;
}

.input-group-lg > .form-control {
	height: 50px;
}

.input-group-sm>.form-control {
	height: 30px;
}

/*..................................the contact form 7 stuff */
form.wpcf7-form {
	input[type="submit"] {
		.btn-default !important;
		.center-block !important;
	}

	textarea {
		height: 232px !important;
	}
}

div.wpcf7-response-output {
	margin: -@padding-large-horizontal 0 !important;
	padding: @padding-large-horizontal !important;
	text-align: center;
}